.fredoka {
  font-family: 'Fredoka One', cursive;
}

.lon {
  font-family: 'Londrina Solid', cursive;;
}

.is-darker {
  background-color: #0F3954;
}

html,
body {
  height: 100%;
}
body.has-navbar-fixed-bottom {
  padding-bottom: 0;
}

.main-content {
  /* margin-bottom: 50px; */
  min-height: 100%;
}

.mt-4 {
  margin-top: 2rem;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-0 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.imgRotate {
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}

.imgRotate:hover {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.is-round {
  border-radius: 5px;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}

.margin-bottom {
  margin-bottom: 2rem;
}

.full {
  height: 100vh;
}

.vcentered {
  margin-top: 20vh;
}

.noScroll {
  overflow: hidden;
}